:root {
  --main-text-color: #757575;
  --title-color: #212121;
  --bg-color: #ffffff;
  --accent-link-color: #2196f3;
  --bg-color-section: #2f303a;
  --button-color: #f5f4fa;
}

body {
  font-family: Roboto;
  font-style: normal;
  background-color: var(--bg-color);
  font-weight: 400;
}
/* header */
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-link-color);
}

.list-nav a,
.contact-nav a {
  color: var(--title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.list-nav a:hover {
  color: var(--accent-link-color);
}

.contact-nav a:hover,
.contact-nav a:focus {
  color: var(--accent-link-color);
}

/* main section */
.section {
  background-color: var(--bg-color-section);
  color: var(--bg-color);
}

.section-page {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.section-button {
  color: var(--bg-color);
  background: var(--accent-link-color);
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px;
  border-radius: 4px;
}
h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-color);
}

.main-section {
  color: var(--main-text-color);
}

.main-title {
  color: var(--title-color);
}

p {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

/* button */
.button [type="button"] {
  color: var(--title-color);
  background-color: var(--button-color);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

button {
  cursor: pointer;
}

.button {
  color: var(--title-color);
  background-color: var(--button-color);
}

.button:hover {
  color: var(--button-color);
  background-color: var(--accent-link-color);
}
